.form-label {
  width: 80%;
}
.field-label {
  font-size: 16px;
  font-weight: 500;
}
.form-input {
  height: 50px;
  width: 100%;
  border: 2px solid black;
  border-radius: 4px;
  font-family: Poppins;
  font-size: 16px;
}
.form-textarea {
  font-family: Poppins;
  font-size: 16px;
  height: 127px;
  width: 100%;
  border: 2px solid black;
  border-radius: 4px;
}

.main-form-label {
  width: 100%;
}

.main-form-input {
  height: 70px;
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 16px;
  margin-bottom: 30px;
  padding-left: 10px;
}

.edit-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.edit {
  height: 25px;
  align-self: flex-end;
  margin-right: 10px;
  margin-bottom: 5px;
}

.edit-profile-form-label {
  width: 100%;
}

.edit-profile-form-input {
  padding: 0 20px;
  height: 70px;
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.edit-profile-form-input:read-only {
  background-color: #d6d5da;
}
