.form {
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.separator {
  margin-bottom: 50px;
}

.status-message {
  margin-bottom: 15px;
  color: #eb4034;
  font-weight: 500;
  text-align: center;
  font-weight: 600;
}

.status-message.error {
  color: #eb4034;
}

.status-message.success {
  color: blue;
}

.recover-password {
  font-size: 20px;
  text-decoration: underline;
  color: #5f83c7;
  cursor: pointer;
  margin-bottom: 30px;
}
.recover-password:hover {
  color: #3e91dd;
}

.sign-in-link {
  font-size: 20px;
  text-decoration: underline;
  color: #5f83c7;
  cursor: pointer;
  margin-bottom: 30px;
}

.sign-in-link:hover {
  color: #3e91dd;
}

.instructions {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
}

.pet-img {
  width: 100%;
  height: 100%;
}

.dz-preview.dz-image-preview {
  width: 100%;
  height: 100%;
}

.dz-image {
  width: 100%;
  height: 100%;
}

.img {
  height: 100%;
  width: 100%;
}

img[data-dz-thumbnail] {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map {
  height: 150px;
  width: 100%;
}

@media (min-width: 769px) {
  .map {
    height: 250px;
  }
}

.unpublish {
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  margin: 20px 0;
}

.unpublish:hover {
  color: #ff3a3a;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
